.DS_Store
*.o
*.d
bin
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
src/CMakeFiles
src/Makefile
src/cmake_install.cmake
docs
cmdfiles
xplane2blender.log
objects/src/AST-3F 210/AST-3F.png
objects/src/AST-3F 210/AST-3F_bump.png
objects/src/AST-1X 680/AST-1X.png
*.blend1
BetterPushback
libpng-mac-32
libpng-mac-64
libpng-linux-32
libpng-linux-64
libpng-win-32
libpng-win-64
libpng-1.6.30
zlib-mac-32
zlib-mac-64
zlib-linux-32
zlib-linux-64
zlib-win-32
zlib-win-64
zlib-1.2.11
pcre2-mac-32
pcre2-mac-64
pcre2-linux-32
pcre2-linux-64
pcre2-win-32
pcre2-win-64
pcre2-10.23
libxml2-2.9.4
libxml2-win-32
libxml2-win-64
libxml2-linux-32
libxml2-linux-64
libxml2-mac-32
libxml2-mac-64
win_x64
lin_x64
mac_x64
notarize/AuditInfo.json
notarize/ExportOptions.plist
notarize/RequestInfo.plist
notarize/UploadInfo.plist
notarize/user.make
BetterPushback.zip
