.DS_Store
*.o
*.d
bin
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
src/CMakeFiles
src/Makefile
src/cmake_install.cmake
docs
cmdfiles
xplane2blender.log
objects/src/AST-3F.png
objects/src/AST-3F_bump.png
*.blend1
BetterPushback
libpng-mac-32
libpng-mac-64
libpng-linux-32
libpng-linux-64
libpng-win-32
libpng-win-64
libpng-1.6.30
zlib-mac-32
zlib-mac-64
zlib-linux-32
zlib-linux-64
zlib-win-32
zlib-win-64
zlib-1.2.11
