# CDDL HEADER START
#
# This file and its contents are supplied under the terms of the
# Common Development and Distribution License ("CDDL"), version 1.0.
# You may only use this file in accordance with the terms of version
# 1.0 of the CDDL.
#
# A full copy of the text of the CDDL should have accompanied this
# source.  A copy of the CDDL is also available via the Internet at
# http://www.illumos.org/license/CDDL.
#
# CDDL HEADER END

# Copyright 2017 Saso Kiselkov. All rights reserved.

# SCHOPF GOLDHOFER AST-1X 680 tug config file

# You can use '%'-style escape sequences in filenames to incorporate
# things such as spaces. For example "foo bar.wav" should written as
# "foo%20bar.wav" (without the quotes, obviously). You can use directory
# nesting (e.g. "foo/bar.wav"), but in that case always use '/' as a
# directory separator not the Windows convention of using '\'.

tug_obj		AST-1X.obj	# main tug object

mass		35000		# tug mass, kg
max_TE		230000		# maximum tractive effort, Newtons
max_steer	60		# maximum steering angle, degrees
front_z		1.82		# front axle long displacement, meters
front_r		0.69		# front wheel radius, meters
rear_z		-2.57		# rear axle long displacement, meters
rear_r		0.69		# rear wheel radius, meters

lift_wall_z	-2.75		# lift wall long displacement, meters
lift_wall_loc	back		# fixed wall is at back of tire
max_tirrad	0.775		# max aircraft tire radius, meters
max_tirrad_f	0.7		# lift_arm_anim value at max_tirrad
min_tirrad	0.45		# min acf tire radius, meters

height		-0.01		# height of model origin, meters
lift_height	0.25		# how far we lift the NLG, meters

min_mtow	150000		# minimum aircraft MTOW, kg
max_mtow	600000		# maximum aircraft MTOW, kg
min_nlg_len	1.4		# minimum aircraft NLG length, meters

apch_dist	7		# how close we drive up before
				# opening our cradle, meters
gear_compat	8		# acf_gear_type compatibility bitmask
num_fwd_gears	1
num_rev_gears	1

# The _inside sounds are used when the camera is in the cockpit to simulate
# a more bassy muffled tug sound. The Audacity EQ settings to generate this
# from the normal sounds are in muffle_highs_eq.xml.

engine_snd		engine.wav	# engine sound (doh!)
engine_snd_inside	engine_inside.wav
beeper_snd		beeper.wav
beeper_snd_inside	beeper_inside.wav

cam_pos			0.6 1.45 3.7
cab_lift_h		0.43

# anim_debug			# Animation debugging - internal
# drive_debug			# Driving debugging - internal
# quick_debug			# Quick test debugging - internal
