# CDDL HEADER START
#
# This file and its contents are supplied under the terms of the
# Common Development and Distribution License ("CDDL"), version 1.0.
# You may only use this file in accordance with the terms of version
# 1.0 of the CDDL.
#
# A full copy of the text of the CDDL should have accompanied this
# source.  A copy of the CDDL is also available via the Internet at
# http://www.illumos.org/license/CDDL.
#
# CDDL HEADER END

# Copyright 2017 Saso Kiselkov. All rights reserved.

# LEKTRO AP88 tug config file

# You can use '%'-style escape sequences in filenames to incorporate
# things such as spaces. For example "foo bar.wav" should written as
# "foo%20bar.wav" (without the quotes, obviously). You can use directory
# nesting (e.g. "foo/bar.wav"), but in that case always use '/' as a
# directory separator not the Windows convention of using '\'.

tug_obj		AP88.obj	# main tug object

electric_drive

mass		4400		# tug mass, kg
max_TE		65000		# maximum tractive effort, Newtons
max_steer	60		# maximum steering angle, degrees
front_z		0.77		# front axle long displacement, meters
front_r		0.265		# front wheel radius, meters
rear_z		-1.575		# rear axle long displacement, meters
rear_r		0.304		# rear wheel radius, meters

max_tirrad	0.4		# max aircraft tire radius, meters
max_tirrad_f	0.27		# lift_arm_anim value at max_tirrad
min_tirrad	0.1		# min acf tire radius, meters

height		0.02		# height of model origin, meters
lift_height	0.13		# how far we lift the NLG, meters

min_mtow	700		# minimum aircraft MTOW, kg
max_mtow	54432		# maximum aircraft MTOW, kg
min_nlg_len	0.35		# minimum aircraft NLG length, meters

lift_type	winch
apch_dist	3.5
plat_z		-2.69
plat_h		0.08
lift_wall_z	-1.96		# lift wall long displacement, meters

cam_pos		0 1.4 1.9

engine_snd	engine.wav	# engine sound (doh!)

# anim_debug			# Animation debugging - internal
# drive_debug			# Driving debugging - internal
# quick_debug			# Quick test debugging - internal
